:root {
    --primary-color: #E91E63;
    --primary-hover: #C2185B;
    --bg-color: #f1f5f9;
    --text-main: #1e293b;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
}