# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Build outputs
dist/
build/
bin/
obj/
out/
.gradle/
.cxx/
**/android/app/build/
**/android/.gradle/
**/ios/build/
**/ios/Pods/
*.apk
*.aar
*.jar
!**/gradle/wrapper/gradle-wrapper.jar

# Environment and Secrets
.env
.env.local
.env.*.local
*.secret
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.next/
